/init.el~
/config/magit-conf.el~
/config/latex-conf.el~
/config/backup-conf.el~
/auto-save-list/
/config/.#latex-conf.el/
/semanticdb/
/session.*
/ac-comphist.dat
/bookmarks
/tutorial/English.tut
tramp
/irony
/%backup%~
